@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto green;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button:not([class*="bg-"]):not([style*="background"]) {
    background-color: #f9f9f9;
  }
}

button, input[type="submit"], input[type="button"] {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

/* Hides scrollbar */
.element::-webkit-scrollbar {
  display: none;
}

.element {
  scrollbar-width: none;
}

/* Memperbaiki warna tombol dan background scanner */
#html5qr-code-full-region {
  background-color: white;
  color: black;
  border-radius: 1rem;
  padding: 1rem;
}

/* Tombol Kamera & Upload */
#html5qr-code-full-region button {
  background-color: #16a34a; /* Tailwind green-600 */
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  font-weight: 600;
}

/* Pastikan area scanner terlihat */
#html5qr-code-full-region video {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  max-width: 100%;
}

/* Teks info di bawah scanner */
#html5qr-code-full-region span {
  color: black;
}
